// Specific CSS for your home-page
div.hero{
  background-image: url('https://res.cloudinary.com/younsai/image/upload/v1662020074/g7w5tuk19azlzbk6ll1r.jpg');
  background-size: cover;
  height: 500px;
}

div.mask{
  background-color: rgba(196, 196, 196, 0.5);
}
body{
  background: #DCDCDC;
}
.all-missions{
  display: inline-block;
  text-align: right ;
}
.card-container{
  padding-top: 160px;
  >div{
     background-color: #ffffff87;
  }

}
.quote{
  width: 100%;
}

.custom-btn{
  min-width: 150px;
  margin-left: 12px;
}
.custom-btn:hover{
  background-color: black;
  color: #ffc107;
  }
.gigachad{
  height: 400px;
  object-fit: cover;
}
