<div class="container mt-5">
<h2>My Bids</h2>
<%= link_to 'Missions Browser', missions_path, class:'btn btn-primary' %>
  <table class="table mt-5">
    <thead class="thead-dark">
      <tr style="text-align: center;">
        <th scope="col">Mission</th>
        <th scope="col">Your Message</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
      <tbody>
      <% @bids.each do |bid| %>
            <tr>
              <td><%= bid.mission.title %></td>
              <td><%= link_to bid.message, bid_path(bid) %></td>
              <td><%= 'Accepted' if bid.accepted == true %></td>
            </tr>
      <% end %>
    </tbody>
  </table>
</div>
