<div class="container card p-4 mt-5">
  <div class="p-3">
    <h2>New Bid</h2>
  </div>
  <%= simple_form_for([@mission, @bid]) do |f| %>
    <%= f.input :message %>
    <%= f.input :price %>
    <%= f.submit %>
  <% end %>
</div>
