
<header>
  <div class="empty">
    <div class="top-navigation">
      <div class="logo"><a href="#">Brikoul.</a></div>
    <nav>
       <div class="nav-menu">
          <ul>
            <li><a href="#" class="nav-link">Employers</a></li>
            <li><a href="#" class="nav-link">Employees</a></li>
            <%# <li><a href="#" class="nav-link">Online Experiences</a></li> %>
          </ul>
        </div>


      </nav> <!--   End nav   -->

      <div class="cta">
        <div>Search</div>
        <button>
          <i class="fas fa-globe"></i>
          <i class="fas fa-chevron-down"></i>
        </button>
        <div class="profile-menu">
          <div class="menu">
            <span class="fas fa-grip-lines"></span>
          </div>
          <div class="profile-pic">
            <span class="fas fa-user"></span>
          </div>
        </div>
      </div>


    </div> <!--   end .top-navigation -->
  </div> <!--   end .empty -->
</header>
