<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>

<%= link_to 'Missions', missions_path %>
<%= link_to 'My Bids', bids_path %>
<%= link_to 'My Missions', my_missions_path %>
<div class="container d-flex p-2 justify-content-between">
  <div class="card">
    <div class="card-body">
      <img src="https://res.cloudinary.com/younsai/image/upload/v1661949227/oorxnhfwegtuekzccdxt.jpg" alt="" class="img-fluid">
      <h2 class="card-title">Title</h2>
      <h3 class="card-subtitle">username</h3>
      <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, molestiae. Odit sapiente ratione temporibus perferendis labore iste error! Repellat, porro. Quia, aperiam ipsa! Aspernatur blanditiis neque aut porro numquam et.</p>
      <h4>250 MAD</h4>
      <a href="#" class="btn btn-primary">Bid</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <img src="https://res.cloudinary.com/younsai/image/upload/v1661949227/oorxnhfwegtuekzccdxt.jpg" alt="" class="img-fluid">
      <h2 class="card-title">Title</h2>
      <h3 class="card-subtitle">username</h3>
      <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, molestiae. Odit sapiente ratione temporibus perferendis labore iste error! Repellat, porro. Quia, aperiam ipsa! Aspernatur blanditiis neque aut porro numquam et.</p>
      <h4>250 MAD</h4>
      <a href="#" class="btn btn-primary">Bid</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <img src="https://res.cloudinary.com/younsai/image/upload/v1661949227/oorxnhfwegtuekzccdxt.jpg" alt="" class="img-fluid">
      <h2 class="card-title">Title</h2>
      <h3 class="card-subtitle">username</h3>
      <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, molestiae. Odit sapiente ratione temporibus perferendis labore iste error! Repellat, porro. Quia, aperiam ipsa! Aspernatur blanditiis neque aut porro numquam et.</p>
      <h4>250 MAD</h4>
      <a href="#" class="btn btn-primary">Bid</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <img src="https://res.cloudinary.com/younsai/image/upload/v1661949227/oorxnhfwegtuekzccdxt.jpg" alt="" class="img-fluid">
      <h2 class="card-title">Title</h2>
      <h3 class="card-subtitle">username</h3>
      <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, molestiae. Odit sapiente ratione temporibus perferendis labore iste error! Repellat, porro. Quia, aperiam ipsa! Aspernatur blanditiis neque aut porro numquam et.</p>
      <h4>250 MAD</h4>
      <a href="#" class="btn btn-primary">Bid</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <img src="https://res.cloudinary.com/younsai/image/upload/v1661949227/oorxnhfwegtuekzccdxt.jpg" alt="" class="img-fluid">
      <h2 class="card-title">Title</h2>
      <h3 class="card-subtitle">username</h3>
      <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, molestiae. Odit sapiente ratione temporibus perferendis labore iste error! Repellat, porro. Quia, aperiam ipsa! Aspernatur blanditiis neque aut porro numquam et.</p>
      <h4>250 MAD</h4>
      <a href="#" class="btn btn-primary">Bid</a>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <img src="https://res.cloudinary.com/younsai/image/upload/v1661949227/oorxnhfwegtuekzccdxt.jpg" alt="" class="img-fluid">
      <h2 class="card-title">Title</h2>
      <h3 class="card-subtitle">username</h3>
      <p class="text-truncate">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, molestiae. Odit sapiente ratione temporibus perferendis labore iste error! Repellat, porro. Quia, aperiam ipsa! Aspernatur blanditiis neque aut porro numquam et.</p>
      <h4>250 MAD</h4>
      <a href="#" class="btn btn-primary">Bid</a>
    </div>
  </div>
</div>
