<h1>Pages#homepage</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= button_to "logout", destroy_user_session_path, method: :delete  %>

<%= link_to 'Missions', missions_path %>
<%= link_to 'My Bids', bids_path %>
<%= link_to 'My Missions', my_missions_path %>
