.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.search-button button {
  font-size: 16px;
  width: 48px;
  height: 48px;
  border-radius: 30px;
  border: none;
  background: red;
  color: white;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
