<div class="container mt-5">
<h2>My Missions</h2>
<%= link_to 'New mission',  new_mission_path, class: 'btn btn-primary'%>
  <table class="table mt-5">
    <thead class="thead-dark">
      <tr style="text-align: center;">
        <th scope="col">Mission</th>
        <th scope="col">Number of Bids</th>
      </tr>
    </thead>
      <tbody>
      <% @missions.each do |mission| %>
            <tr style="text-align: center;">
              <td><%= link_to mission.title, mission_path(mission)%></td>
              <td><%= mission.bids.count %></td>
            </tr>
      <% end %>
    </tbody>
  </table>
</div>
