<h1>Missions#show</h1>
<p>Find me in app/views/missions/show.html.erb</p>
<%= @mission.title %><br>
<%= @mission.details %>
<% @mission.bids.each do |bid| %>
<li><%= bid.message %></li>
<% end %>
<%= link_to 'Bid', new_mission_bid_path(@mission)%>
